body{
  overflow-x: hidden;
}


.maincont{position:relative; width:1024px; margin: 0 auto; background-color: #FEF8DC;}
.cameraview{position:absolute; top:95px; left:390px; width:226px; height:412px; border: 10px solid #fff; border-radius: 10px; box-shadow: 0px 0px 15px 2px 0.5 #000; background-color:#f8f8f8; }
.cameraview .flip-card-front img {margin-top:-62px;}
.imghide .flip-card-front img {display:none;}
.emoji-icon{position:absolute; top:168px; right:137px;}
.emoji-icon img {width:130px;}
.text{position:absolute; top:320px; right:-30%; text-align: center; color:#fff;width: 100%}
.text h3{font-size:26px; padding:0; margin:5px 0;}
.text h1{font-size:48px; padding:0; margin:13px 0; font-weight: bold; text-transform: uppercase;}
.contentcont{position:absolute; top:570px; left:0;    max-width: 84%;
  text-align: center;
  left: 8%;}

  .btn{position:relative;justify-content:flex-end;bottom: 20px;top: 383px;width:100%;height:30px;font-size: 14px;    color: #000;
  }
  .flip-card {background-color: transparent;perspective: 1000px;}
  .flip-card-inner {position: relative;	  width: 100%;height: 100%;text-align: center;transition: transform 0.6s;transform-style: preserve-3d;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
  .flip-card-front, .flip-card-back {position: absolute;width: 100%;height: 100%;backface-visibility: hidden;top: 0}
  .flip-card-back {background-color: #2980b9;color: white;transform: rotateY(180deg);}
  .flipped {transform: rotateY( 180deg);}

  .flippedText{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  .imgFront{
    margin-left: -33px;
    margin-top: -32px;
  }


.btn-outline-success{ border:0; background-color:#fff; color:#000; padding:6px 10px; width:80%; top:360px;}


a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.row {
  overflow: scroll;
  width: 100%;
  margin-top: -4%;
}
.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
  color: #fff;
  left: 0px;
  /* top: 47%; */
  
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}

